.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.left-sidebar {
	padding-top: 2rem;
	display: block;
	min-height: 22rem;
	max-width: 20rem;
	margin-left: 2rem;
}
.about-container {
	padding-left: 5rem;
	display: block;
	flex-grow: 1;
	padding-top: 5rem;
	max-width: 60rem;
}
