.left-container {
	width: 270px;
	border-radius: 8px;
	overflow: hidden;
	margin-top: 2rem;
}
.accordion-menu {
	background-color: #222222;
	overflow: hidden;
	justify-content: center;
	border: 1px solid #222222;
}
.accordion-menu li {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.accordion-header {
	display: block;
	padding: 16px 20px;
	background-color: rgb(221, 132, 15);
	min-height: 3rem;
	cursor: pointer;
}
.title {
	padding-top: 10px;
}
.accordion-item {
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
}
.accordion-list {
	display: none;
}
.accordion-list.expanded {
	display: block;
}
