.left-container {
	width: 250px;
	border-radius: 8px;
	overflow: hidden;
	padding-top: 60px;
}
.accordion-menu {
	background-color: #222222;
	overflow: hidden;
	transition: max-height 0.3s;
	min-height: 60rem;
}
.accordion-menu li {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.accordion-header {
	display: block;
	padding: 16px 20px;
	background-color: rgb(221, 132, 15);
	position: relative;
}
.accordion-item {
	border-top: 1px solid rgb(221, 132, 15);
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
}
